<html lang="en" class="full-height">

<!--Main Navigation-->
<header>
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark scrolling-navbar">
        <h2 class="navbar-brand" href="#"><i><strong>@RavSainiPayStore</strong></i></h2>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
       
      </nav>
  <div class="view intro-2" style="">
    <div class="full-bg-img">
      <div class="mask rgba-purple-light flex-center">
        <div class="container text-center  wow fadeInUp">
         <i><h2>Welcome To Ravinder PayStore</h2></i>
          <br>
        </div>
      </div>
    </div>
  </div>

</header>
<!--Navbar-->
<mdb-navbar id="List" SideClass="navbar navbar-expand-lg navbar-dark unique-color" [containerInside]="false">

    <!-- Navbar brand -->
    <mdb-navbar-brand><a class="navbar-brand" href="#"></a></mdb-navbar-brand>
  
    <!-- Collapsible content -->
    <links>
        <div class="dropdown mydropdowncss"><i class="fa fa-server" aria-hidden="true"></i>
            <a href="#"  data-toggle="dropdown">DMT </a> 
            <ul class="dropdown-menu">
                <li><a routerLink="dmt" routerLinkActive="active">DMT</a></li>
                <li><a href="#">KYC DMT</a></li>
                <li><a href="#">CREDIT CARD</a></li>
                <li><a href="#">DMT TRANSACTION</a></li>
                <li><a href="#">CREDIT CARD TRANSACTION</a></li>
            </ul>
        </div>
        <div class="dropdown mydropdowncss"><i class="fa fa-university" aria-hidden="true"></i>
            <a href="#"  data-toggle="dropdown">Cash deposit </a> 
            <ul class="dropdown-menu">
                <li><a href="#">Home</a></li>
                <li><a href="#">About Us</a></li>
                <li><a href="#">Contact</a></li>
                <li><a href="#">Gallery</a></li>
            </ul>
        </div>
        <div class="dropdown mydropdowncss"><i class="fa fa-list" aria-hidden="true"></i>
            <a href="#"  data-toggle="dropdown">Utility </a> 
            <ul class="dropdown-menu">
                <li><a href="#">Home</a></li>
                <li><a href="#">About Us</a></li>
                <li><a href="#">Contact</a></li>
                <li><a href="#">Gallery</a></li>
            </ul>
        </div>
      <!-- Links -->
      <div class="dropdown mydropdowncss"><i class="fa fa-plane" aria-hidden="true"></i>
        <a href="#"  data-toggle="dropdown">Air </a> 
        <ul class="dropdown-menu">
            <li><a href="#">Home</a></li>
            <li><a href="#">About Us</a></li>
            <li><a href="#">Contact</a></li>
            <li><a href="#">Gallery</a></li>
        </ul>
    </div>
       
    <div class="dropdown mydropdowncss"><i class="fa fa-th" aria-hidden="true"></i>
        <a href="#"  data-toggle="dropdown">AEPS </a> 
        <ul class="dropdown-menu">
            <li><a href="#">Home</a></li>
            <li><a href="#">About Us</a></li>
            <li><a href="#">Contact</a></li>
            <li><a href="#">Gallery</a></li>
        </ul>
    </div>
    <div class="dropdown mydropdowncss"><i class="fa fa-suitcase" aria-hidden="true"></i>
        <a href="#" data-toggle="dropdown">MAMP </a> 
        <ul class="dropdown-menu">
            <li><a href="#">Home</a></li>
            <li><a href="#">About Us</a></li>
            <li><a href="#">Contact</a></li>
            <li><a href="#">Gallery</a></li>
        </ul>
    </div>
    <div class="dropdown mydropdowncss"><i class="fa fa-list" aria-hidden="true"></i>
        <a href="#"  data-toggle="dropdown">Settlement </a> 
        <ul class="dropdown-menu">
            <li><a href="#">Home</a></li>
            <li><a href="#">About Us</a></li>
            <li><a href="#">Contact</a></li>
            <li><a href="#">Gallery</a></li>
        </ul>
    </div>
    <div class="dropdown mydropdowncss">
        <i class="fa fa-address-card" aria-hidden="true"></i>
        <a href="#"  data-toggle="dropdown">CMS </a> 
        <ul class="dropdown-menu">
            <li><a href="#">Home</a></li>
            <li><a href="#">About Us</a></li>
            <li><a href="#">Contact</a></li>
            <li><a href="#">Gallery</a></li>
        </ul>
    </div>
    <div class="dropdown mydropdowncss"><i class="fa fa-credit-card" aria-hidden="true"></i>
        <a href="#"  data-toggle="dropdown">Wallet</a> 
        <ul class="dropdown-menu">
            <li><a href="#">Home</a></li>
            <li><a href="#">About Us</a></li>
            <li><a href="#">Contact</a></li>
            <li><a href="#">Gallery</a></li>
        </ul>
    </div>
  
            
    <div class="dropdown mydropdowncss"><i class="fa fa-users" aria-hidden="true"></i>
        <a href="#"  data-toggle="dropdown">ITR </a> 
        <ul class="dropdown-menu">
            <li><a href="#">Home</a></li>
            <li><a href="#">About Us</a></li>
            <li><a href="#">Contact</a></li>
            <li><a href="#">Gallery</a></li>
        </ul>
    </div>
    <div class="dropdown mydropdowncss"><i class="fa fa-key" aria-hidden="true"></i>
        <a href="#"  data-toggle="dropdown">Leadger</a> 
        <ul class="dropdown-menu">
            <li><a href="#">Home</a></li>
            <li><a href="#">About Us</a></li>
            <li><a href="#">Contact</a></li>
            <li><a href="#">Gallery</a></li>
        </ul>
    </div>
    <div class="dropdown mydropdowncss"><i class="fa fa-hashtag" aria-hidden="true"></i>
        <a href="#" data-toggle="dropdown">More</a> 
        <ul class="dropdown-menu">
            <li><a href="#">Home</a></li>
            <li><a href="#">About Us</a></li>
            <li><a href="#">Contact</a></li>
            <li><a href="#">Gallery</a></li>
        </ul>
    </div>
  
      
      <!-- Links -->
  
    </links>
    <!-- Collapsible content -->
  
  </mdb-navbar>
  <!--/.Navbar-->
<!--Main Navigation-->

<!--Main Layout-->

<!--Main Layout-->