<div id="outerDiv">
<h2>Please fill the below details</h2>
<form id="formid">
    <!-- Default input -->
    <div class="form-group">
      <label for="formGroupExampleInput">Mobile number:-</label>
      <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Enter mobile number">
      <i class="far fa-arrow-alt-circle-right"></i>
    </div>
    <pre> OR</pre>
    <!-- Default input -->
    <div class="form-group">
      <label for="formGroupExampleInput2">Account number:-</label>
      <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Enter Account number">
      <i class="far fa-arrow-alt-circle-right"></i>
    </div>
  </form>
</div>
    
    <div id="outerDiv">
      <h2>Please Add details</h2>
    <form class="form-inline" role="form">
      <div class="row">
        
          <div class="form-group col-sm-6">
              <div class="input-group"> 
                <label for="formGroupExampleInput">Frist Name</label>
                  <input type="email" class="form-control" value=" Frist Name" placeholder="Frist Name" />
              </div>
          </div>
          <div class="form-group col-sm-6">
            <div class="input-group"> 
              <label for="formGroupExampleInput">Last Name</label>
                <input type="email" class="form-control" value="Last Name" placeholder="Last Name" />
            </div>
        </div>
          <br>
          <div class="form-group col-sm-6">
              <div class="input-group"> 
                <label for="formGroupExampleInput">Date of birth</label>
                <input type="email" class="form-control" value="DOB" placeholder="date of birth" />
              </div>
          </div>
              <div class="form-group col-sm-6">
                <div class="input-group"> 
                  <label for="formGroupExampleInput">Address</label>
                  <input type="email" class="form-control" value="Address" placeholder="Enter Address" />
                </div>
          </div>
          <div class="form-group col-sm-6">
            <div class="input-group"> 
              <button type="submit" class="btn btn-raised btn-info">OTP</button>
            </div>
          </div>
          <div class="form-group col-sm-6">
            <div class="input-group"> 
              <button type="submit" class="btn btn-raised btn-info">Genrate OTP</button>
            </div>
          </div>
          
        
      </div>
      </form>
    </div>